body
{
    color: greenyellow;
    font-size: 25px;
    background-image: url("https://www.regens.com/documents/20182/72144/first+AI+project+CIKKBE.jpg/03f41983-cbde-0ff0-470d-89f9d8733bed?t=1563869152630");
    background-size: cover;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 2px dotted white;
    width: 350px;
    height: 300px;
}

span 
{
    color: aliceblue;
}